{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<section class="relative w-full h-[439px] bg-cover bg-center"
    style="background-image: url('{% static 'main/images/standard-a-1.png' %}');">
    <!-- Overlay -->
    <div class="absolute inset-0" style="background: linear-gradient(90deg, rgba(52, 78, 65, 0.93) 32%, rgba(18, 27, 18, 0.00) 100%);"></div>

    <!-- Hero Content -->
    <div class="relative z-10 container mx-auto px-4 lg:px-20 flex flex-col justify-center h-full text-white">
        <!-- Breadcrumb -->
        <p class="text-sm font-semibold tracking-wider uppercase text-[#A3B18A]">
            Beranda > Tipe Kamar
        </p>
        <!-- Title -->
        <h1 class="mt-2 text-3xl md:text-4xl lg:text-5xl font-bold">
            Daftar Tipe Kamar
        </h1>
        <!-- Subtitle -->
        <p class="mt-4 text-base md:text-lg text-[#F3ECDC]">
            Segera pilih daftar kamar sesuai impian anda di bawah ini.
        </p>
    </div>
</section>

<!-- Dropdown Filter Section -->
<div class="relative z-20 -mt-[40px] mx-auto w-full max-w-[1200px] bg-[#FFFBF2] shadow-md rounded-t-[30px] border border-[#EDE8DA] p-6 lg:p-0">
    <form method="GET" action="" class="hidden lg:flex justify-between items-center w-full h-[78px] px-8">
        <!-- Hidden Inputs to Preserve Existing Filters -->
        {% for key, value in request.GET.items %}
            {% if key != 'harga' and key != 'orang' and key != 'token' %}
            <input type="hidden" name="{{ key }}" value="{{ value }}">
            {% endif %}
        {% endfor %}

        <!-- Dropdown Harga -->
       <div class="relative flex items-center gap-4 w-[250px]">
            <i class="fas fa-dollar-sign text-[#A3B18A] text-lg"></i>
            <select name="harga"
                class="block w-full px-4 py-3 text-[#4D4D4D] bg-white border border-[#EDE8DA] rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-[#A3B18A] appearance-none cursor-pointer">
                <option value="" class="text-gray-400">Pilih harga yang sesuai</option>
                <option value="1" {% if request.GET.harga == '1' %}selected{% endif %} class="hover:bg-[#F3ECDC]">
                    0 - 1 juta
                </option>
                <option value="2" {% if request.GET.harga == '2' %}selected{% endif %} class="hover:bg-[#F3ECDC]">
                    1 juta - 2 juta
                </option>
                <option value="3" {% if request.GET.harga == '3' %}selected{% endif %} class="hover:bg-[#F3ECDC]">
                    2 juta ke atas
                </option>
            </select>
            <!-- Ikon Dropdown -->
            <div class="absolute inset-y-0 right-4 flex items-center pointer-events-none">
                <i class="fas fa-chevron-down text-[#A3B18A]"></i>
            </div>
        </div>


        <!-- Separator -->
        <div class="w-px h-[40px] bg-[#EDE8DA]"></div>

        <!-- Dropdown Token/Non-Token -->
        <div class="relative flex items-center gap-4 w-[250px]">
            <i class="fas fa-lightbulb text-[#A3B18A] text-lg"></i>
            <select name="token"
                class="block w-full px-4 py-3 text-[#4D4D4D] bg-white border border-[#EDE8DA] rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-[#A3B18A] appearance-none cursor-pointer">
                <option value="" class="text-gray-400">Pilih jenis kos</option>
                <option value="token" {% if request.GET.token == 'token' %}selected{% endif %} class="hover:bg-[#F3ECDC]">
                    Token
                </option>
                <option value="non-token" {% if request.GET.token == 'non-token' %}selected{% endif %} class="hover:bg-[#F3ECDC]">
                    Non-Token
                </option>
            </select>
            <!-- Ikon Dropdown -->
            <div class="absolute inset-y-0 right-4 flex items-center pointer-events-none">
                <i class="fas fa-chevron-down text-[#A3B18A]"></i>
            </div>
        </div>


        <!-- Separator -->
        <div class="w-px h-[40px] bg-[#EDE8DA]"></div>

        <!-- Dropdown Max Orang -->
        <div class="relative flex items-center gap-4 w-[250px]">
            <i class="fas fa-user-friends text-[#A3B18A] text-lg"></i>
            <select name="orang"
                class="block w-full px-4 py-3 text-[#4D4D4D] bg-white border border-[#EDE8DA] rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-[#A3B18A] appearance-none cursor-pointer">
                <option value="" class="text-gray-400">Pilih jumlah penghuni</option>
                <option value="1" {% if request.GET.orang == '1' %}selected{% endif %} class="hover:bg-[#F3ECDC]">
                    1 Orang
                </option>
                <option value="2" {% if request.GET.orang == '2' %}selected{% endif %} class="hover:bg-[#F3ECDC]">
                    2 Orang
                </option>
                <option value="3" {% if request.GET.orang == '3' %}selected{% endif %} class="hover:bg-[#F3ECDC]">
                    3 Orang
                </option>
            </select>
            <!-- Ikon Dropdown -->
            <div class="absolute inset-y-0 right-4 flex items-center pointer-events-none">
                <i class="fas fa-chevron-down text-[#A3B18A]"></i>
            </div>
        </div>


        <!-- Buptton Cari -->
        <button type="submit" class="bg-[#588157] text-white px-8 py-2 rounded-full text-sm font-semibold hover:bg-[#6A965F]">
            Cari
        </button>
    </form>

    <div class="lg:hidden grid grid-cols-1 sm:grid-cols-2 gap-6">
    <form method="GET" action="" class="grid grid-cols-1 sm:grid-cols-2 gap-6">
        <!-- Hidden Inputs to Preserve Existing Filters -->
        {% for key, value in request.GET.items %}
            {% if key != 'harga' and key != 'orang' and key != 'token' %}
            <input type="hidden" name="{{ key }}" value="{{ value }}">
            {% endif %}
        {% endfor %}

        <!-- Dropdown Harga -->
        <div class="flex items-center gap-4">
            <i class="fas fa-dollar-sign text-[#588157] text-lg"></i>
            <select name="harga" class="w-full bg-transparent text-[#4D4D4D] text-sm font-normal focus:outline-none appearance-none border-b border-[#EDE8DA]">
                <option value="">Pilih harga yang sesuai</option>
                <option value="1" {% if request.GET.harga == '1' %}selected{% endif %}>0 - 1 juta</option>
                <option value="2" {% if request.GET.harga == '2' %}selected{% endif %}>1 juta - 2 juta</option>
                <option value="3" {% if request.GET.harga == '3' %}selected{% endif %}>2 juta ke atas</option>
            </select>
        </div>

        <!-- Dropdown Token/Non-Token -->
        <div class="flex items-center gap-4">
            <i class="fas fa-bed text-[#588157] text-lg"></i>
            <select name="token" class="w-full bg-transparent text-[#4D4D4D] text-sm font-normal focus:outline-none appearance-none border-b border-[#EDE8DA]">
                <option value="">Pilih jenis kos</option>
                <option value="token" {% if request.GET.token == 'token' %}selected{% endif %}>Token</option>
                <option value="non-token" {% if request.GET.token == 'non-token' %}selected{% endif %}>Non-Token</option>
            </select>
        </div>

        <!-- Orang Counter -->
        <div class="flex items-center gap-4">
            <i class="fas fa-user-friends text-[#588157] text-lg"></i>
            <select name="orang" class="w-full bg-transparent text-[#4D4D4D] text-sm font-normal focus:outline-none appearance-none border-b border-[#EDE8DA]">
                <option value="">Pilih jumlah penghuni</option>
                <option value="1" {% if request.GET.orang == '1' %}selected{% endif %}>1 Orang</option>
                <option value="2" {% if request.GET.orang == '2' %}selected{% endif %}>2 Orang</option>
                <option value="3" {% if request.GET.orang == '3' %}selected{% endif %}>3 Orang</option>
            </select>
        </div>

        <!-- Button Cari -->
        <div class="flex justify-center sm:justify-end col-span-1 sm:col-span-2">
            <button type="submit" class="w-full sm:w-auto bg-[#588157] text-white px-8 py-2 rounded-full text-sm font-semibold hover:bg-[#6A965F]">
                Cari
            </button>
        </div>
    </form>
</div>

</div>



<!-- Kamar Section -->
<section class="bg-[#F3ECDC] py-16">
   <div class="container mx-auto px-6 lg:px-20">
        <!-- Card Kamar -->
        {% for kamar in tipe_kamars %}
            <div class="mb-12 flex flex-col lg:flex-row w-full max-w-[1230px] mx-auto p-6 items-center gap-8 bg-white rounded-[20px] shadow-md">
                <!-- Gambar Kamar -->
                <div class="w-full lg:w-[1100px] h-[240px] lg:h-[416px] rounded-lg overflow-hidden cursor-pointer">
                    {% for image in kamar.images.all %}
                    <img src="{{ image.image.url }}" alt="{{ kamar.nama }}" class="w-full h-full object-cover mb-4"
                         data-modal-image data-kamar-id="{{ kamar.id }}" onclick="openModal({{ kamar.id }}, {{ forloop.counter0 }})">
                    {% endfor %}
                </div>

                <!-- Konten Kamar -->
                <div class="flex flex-col gap-4 w-full">
                    <h3 class="text-[#073937] font-opensans text-lg lg:text-[24px] font-semibold uppercase leading-[27.9px]">
                        {{ kamar.nama }}
                    </h3>
                    <div class="flex flex-col gap-2 pt-4 lg:pt-6 border-t border-[#EDE8DA]">
                        <h4 class="text-[#073937] font-opensans text-sm lg:text-[16px] font-semibold">Fasilitas Kamar</h4>
                        <p class="text-[#073937] font-opensans text-sm lg:text-[16px] font-normal leading-[27.9px]">
                            {{ kamar.fasilitas }}
                        </p>
                    </div>
                    <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center gap-2 pt-4 lg:pt-6 border-t border-[#EDE8DA]">
                        <div>
                            <h4 class="text-[#073937] font-opensans text-sm lg:text-[16px] font-semibold">Harga</h4>

                            <!-- Harga Token -->
                            <p class="text-[#073937] font-opensans text-sm lg:text-[16px] font-normal flex justify-between pt-2">
                                <span>1 Orang (Token)</span>
                                <span class="font-bold ml-6">Rp. {{ kamar.harga_per_bulan_1_orang|floatformat:0 }}</span>
                            </p>
                            {% if kamar.harga_per_bulan_2_orang %}
                            <p class="text-[#073937] font-opensans text-sm lg:text-[16px] font-normal flex justify-between pt-2">
                                <span>2 Orang (Token)</span>
                                <span class="font-bold ml-6">Rp. {{ kamar.harga_per_bulan_2_orang|floatformat:0 }}</span>
                            </p>
                            {% endif %}
                            {% if kamar.harga_per_bulan_3_orang %}
                            <p class="text-[#073937] font-opensans text-sm lg:text-[16px] font-normal flex justify-between pt-2">
                                <span>3 Orang (Token)</span>
                                <span class="font-bold ml-6">Rp. {{ kamar.harga_per_bulan_3_orang|floatformat:0 }}</span>
                            </p>
                            {% endif %}

                            <!-- Harga Non-Token -->
                            {% if kamar.harga_non_token_1_orang %}
                            <p class="text-[#073937] font-opensans text-sm lg:text-[16px] font-normal flex justify-between pt-4">
                                <span>1 Orang (Non-Token)</span>
                                <span class="font-bold ml-6">Rp. {{ kamar.harga_non_token_1_orang|floatformat:0 }}</span>
                            </p>
                            {% endif %}
                            {% if kamar.harga_non_token_2_orang %}
                            <p class="text-[#073937] font-opensans text-sm lg:text-[16px] font-normal flex justify-between pt-2">
                                <span>2 Orang (Non-Token)</span>
                                <span class="font-bold ml-6">Rp. {{ kamar.harga_non_token_2_orang|floatformat:0 }}</span>
                            </p>
                            {% endif %}
                            {% if kamar.harga_non_token_3_orang %}
                            <p class="text-[#073937] font-opensans text-sm lg:text-[16px] font-normal flex justify-between pt-2">
                                <span>3 Orang (Non-Token)</span>
                                <span class="font-bold ml-6">Rp. {{ kamar.harga_non_token_3_orang|floatformat:0 }}</span>
                            </p>
                            {% endif %}
                        </div>
                        <div>
                            <a href="{% url 'form_pemesanan' %}?tipe_kamar={{ kamar.id }}" class="flex justify-center w-full lg:w-auto mt-4 px-7 py-4 items-center gap-4 rounded-full border-4 border-[#588157] bg-[#588157] text-white text-sm font-semibold hover:bg-[#6A965F] hover:border-[#6A965F] transition duration-300">
                                Pesan Sekarang
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

    </div>

    <!-- Modal -->
    <div id="modal" class="hidden fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-60">
        <div class="relative bg-white rounded-lg shadow-lg w-[90%] lg:w-[60%] max-h-[90%] overflow-hidden">
            <!-- Carousel -->
            <div class="relative w-full">
                <!-- Carousel wrapper -->
                <div id="carousel-wrapper" class="relative h-[70vh] overflow-hidden rounded-lg">
                    <img id="carousel-image" src="" alt="Kamar Image" class="block w-full h-full object-contain">
                </div>

                <!-- Close Button -->
                <button onclick="closeModal()" class="absolute top-4 right-4 bg-[#588157] text-white w-8 h-8 flex items-center justify-center rounded-full z-60">
                    <i class="fas fa-times"></i>
                </button>
                <!-- Slider controls -->
                <button onclick="prevImage()" class="absolute top-1/2 left-4 transform -translate-y-1/2 bg-white p-2 rounded-full shadow-md z-50">
                    &#8592;
                </button>
                <button onclick="nextImage()" class="absolute top-1/2 right-4 transform -translate-y-1/2 bg-white p-2 rounded-full shadow-md z-50">
                    &#8594;
                </button>
            </div>
        </div>
    </div>
</section>

<script>
    let currentImageIndex = 0;
    let currentKamarId = null;

    function openModal(kamarId, index) {
        currentKamarId = kamarId;
        currentImageIndex = index;

        // Ambil semua gambar untuk kamar tertentu
        const images = document.querySelectorAll(`[data-kamar-id="${kamarId}"]`);
        const imageArray = Array.from(images);

        // Tampilkan gambar pertama di modal
        document.getElementById("carousel-image").src = imageArray[currentImageIndex].src;
        document.getElementById("modal").classList.remove("hidden");
    }

    function closeModal() {
        document.getElementById("modal").classList.add("hidden");
    }

    function prevImage() {
        // Ambil semua gambar untuk kamar tertentu
        const images = document.querySelectorAll(`[data-kamar-id="${currentKamarId}"]`);
        const imageArray = Array.from(images);

        currentImageIndex = (currentImageIndex === 0) ? imageArray.length - 1 : currentImageIndex - 1;
        document.getElementById("carousel-image").src = imageArray[currentImageIndex].src;
    }

    function nextImage() {
        // Ambil semua gambar untuk kamar tertentu
        const images = document.querySelectorAll(`[data-kamar-id="${currentKamarId}"]`);
        const imageArray = Array.from(images);

        currentImageIndex = (currentImageIndex === imageArray.length - 1) ? 0 : currentImageIndex + 1;
        document.getElementById("carousel-image").src = imageArray[currentImageIndex].src;
    }
</script>

{% endblock %}
